@font-face {
  font-family: 'Porsche';
  font-display: swap;
  src: local(Porsche),
       url(font/Porsche\ Regular_0.ttf),
       url(font/Porsche\ Regular_0.woff);
 }

 * {
  font-family: 'Porsche';
  font-display: swap;
  src: local(Porsche),
       url(font/Porsche\ Regular_0.ttf),
       url(font/Porsche\ Regular_0.woff);
  margin: 0;
  padding: 0;
  color: #fff;
 }

 footer li, footer a, footer p{
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
 }

 .mobile {
  display: none;
 }

 main spline-viewer {
  position: relative;
  height: 970px;
 }


 main {
  width: 100%;
  height: 839px;;
  position: relative;
  overflow: hidden;
 }

  p {
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  width: 734px;
  height: 54px;
 }

.text {
  display: flex;
  position: absolute;
  left: 64px;
  width: 100%;
  top: 676px;
  color: #fff;
 }

.text h1 {
  position: absolute;
  left: 50.1%;
  font-weight: 400;
  font-size: 72px;
  line-height: 81px;
  text-align: right;
  height: 81px;
  width: 458px;
  align-self: center;
 }

 .first {
  position: relative;
  height: 294px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url(img/Rectangle\ 10.png);
  background-repeat:no-repeat;
  background-position: center 20%;
  background-size: cover;
 }

 .first .button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 160px;
  height: 160px;
  border-radius: 50%;
 }

 .first .button::after {
  position: absolute;
  top: 43%;
  left: 45%;
  bottom: 0;
  height: 0;
  width: 0;
  border: 13px solid transparent;
  border-bottom-color:#930909;
  transform: rotate(90deg);
  content: "";
 }

 .first .button:hover {
  background: #202120;
 }

 .first .button:hover::after {
  border-bottom-color: #fff;
 }

 .first .button:active {
  background: #191919;
 }

 .first .button:active::after {
  border-bottom-color: #fff;
 }

 .second {
  position: relative;
  width: 100%;
  height: 1920px;
  background-color: #202120;
  overflow: hidden;
 }

.second .button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid rgba(255, 255, 255,0.25);
  width: 50%;
  height: 50%;
}

.second h3 {
  background-color: #202120;
  border: 40px solid #202120;
  z-index: 1;
}

.second .pr {
  border-left: none;
  left: 0;
  top: 0;
  border-top: none;
}

.second .prod {
  left: 50%;
  top: 0;
  border-right: none;
  border-top: none;
}

.second .web {
  left: 0;
  top: 50%;
  border-left: none;
}

.second .smm {
  left: 50%;
  top: 50%;
  border-right: none;
}

.button p {
  font-size: 14px;
  line-height: 16px;
}

.button .number {
  position: absolute;
  top: 64px;
  left: 64px;
  width: 31px;
  height: 14px;
}

.vertical {
  position: absolute;
  width: 1px;
  height: 86.7%;
  border-left: 0.5px solid rgba(255, 255, 255,0.25);
}

.horizontal {
  position: absolute;
  width: 86.7%;
  height: 1px;
  border-bottom: 0.5px solid rgba(255, 255, 255,0.25);
}

.vertical, .horizontal {
  display: none;
}

.dot {
  position: absolute;
  background: #fff;
  width: 6px;
  height: 6px;
  left: 93.5%;
  top: 888px;
  border-radius: 50%;
}

.button .describe {
  display: none;
  position: absolute;
  left: 69.6%;
  top: 884px;
}

.second .button:hover {
  background-color: #191919;
}

.second .button:hover .horizontal {
  display: block;
}

.second .button:hover .vertical {
  display: block;
}

.second .button:hover h3 {
  background-color: #191919;
  border: 32px solid #191919;
}

.second .button:hover .describe {
  display: block;
}

.second .button:active {
  background-color: #0F0F0F; 
}

.second .button:active .horizontal {
  display: block;
}

.second .button:active .vertical {
  display: block;
}

.second .button:active h3 {
  background-color: #0F0F0F;
  border: 32px solid #0F0F0F;
}

.second .button:active .describe {
  display: block;
}

.third {
  border-top: 0.5px solid rgba(255, 255, 255,0.25);
  background-color: #202120;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  overflow: hidden;
}

.third spline-viewer{
  width: 255px;
  height: 1000px;
  margin-top: -270px;
}

button {
  background-color: #202120;
  border: 0;
  height: 498px;
  width: 255px;
}

button a {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sign {
  display: none;
  position: absolute;
  align-self: center;
  top: 385px;
  font-size: 24px;
  z-index: 2;
}

.sign img {
  position: absolute;
  margin-top: -30px;
  right: 46.5%;
  width: 40px;
  height: 40px;
}

button:hover .sign {
  display: block;
}

.fourth {
  position: relative;
  background-color: #202120;
  width: 100%;
  height:0;
  padding-top: 118.3%;
  top: -1px;
  bottom: 0;
  margin: 0;
  overflow: hidden;
}


.fourth picture img{
  right: 0;
  left: 0;
  width: 100%;
  position: absolute;
  margin: 0;
  bottom: 0;
}

.images {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 25%;
  top:0;
  padding-top: 166%;
}

.blik {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 25%;
  top:0;
  padding-top: 166%;
  z-index: 2;
}

.images img {
  position: absolute;
  left: 0;
  top: 0;
  width: 49.8%;
  height: 49.8%;
}

.blik img{
  position: absolute;
  left: 0;
  top: 0;
  width: 49.8%;
  height: 49.8%;
}

footer {
  position: relative;
  background: #060606;
  width: 100%;
  height: 257px;
  top:-1px;
  overflow: hidden;
  bottom: 0;
}

.line {
  position: absolute;
  left: 3.5%;
  right: 3.5%;
  bottom: 255px;
  height: 1px;
  border-bottom: 0.5px solid rgba(255, 255, 255,0.25);
}

.icon {
  position: absolute;
  height: 78px;
  bottom: 127px;
  left: 66px;
}

footer p {
  position: absolute;
  bottom: 32px;
  left: 3.4%;
  font-size: 18px;
  color: rgba(255, 255, 255,0.4);
}

.information {
  position: absolute;
  left: 26.8%;
  bottom: 127px;
  width: 570px;
}

.menu {
  position: absolute;
  left: 74.2%;
  bottom: 127px;
  width: 110px;
}

.media {
  position: absolute;
  left: 86.5%;
  bottom: 150px;
  width: 110px;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  font-size: 18px;
  color: #fff;
  list-style: none;
  margin-bottom: 10px;
  line-height: 11.25px;
}

@media (max-width: 1551px) {
  main {
    height: 909px;
  }
  
  p {
    font-size: 16px;
    line-height: 18px;
    width: 505px;
    height: 36px;
  }
  
  .text {
    top: 783px;
  }
  
  .text h1 {
    right: 426px;
    font-size: 46px;
    line-height: 52px;
    height: 52px;
    width: 293px;
  }
  
  .first {
      height: 250px;
  }
  
  .first .button {
    width: 120px;
    height: 120px;
  }
  
  .first .button::after {
    border: 13px solid transparent;
    border-bottom-color:#930909;
    transform: rotate(90deg);
    content: "";
  }
  
  .second {
    height: 1440px;
  }
  
  .second h3 {
    border: 32px solid #202120;
  }
  
  .button p {
    font-size: 12px;
    line-height: 13.5px;
  }
  
  .button .number {
    top: 48px;
    left: 48px;
    width: 19px;
    height: 14px;
  }

  .dot {
    top: 666px;
  }
  
  .button .describe {
    top: 662px;
  }
  
  button a {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .sign img {
    margin-top: -20px;
    scale: 50%;
  }

  .fourth {
    height:0;
    padding-top: 118.3%;
    top: -1px;
    bottom: 0;
    margin: 0;
    overflow: hidden;
  }
  
  .fourth picture {
    width: 100%;
    bottom: 0; 
    position: absolute;
    right: 0;
    left: 0;
    margin: 0;
  }

  .images {
    position: absolute;
    width: 100%;
    height: 0;
    left: 25%;
    top:0;
    padding-top: 253%;
  }
  
  .blik {
    position: absolute;
    width: 100%;
    height: 0;
    left: 25%;
    top:0;
    padding-top: 253%;
    z-index: 2;
  }
  
  .images img{
    left: 0;
    top: 0;
    width: 49.8%;
    height: 49.8%;
  }
  
  .blik img{
    left: 0;
    top: 0;
    width: 49.8%;
    height: 49.8%;
  }

  footer {
    top: -2px;
    height: 250px;
  }
  
  .line {
    bottom: 250px;
  }
  
  .icon {
    height: 78px;
    bottom: 122px;
  }
  
  footer p {
    bottom: 25.5px;
    font-size: 18px;
  }
  
  .information {
    bottom: 86px;
    width: 336px;
  }
  
  .menu {
    bottom: 86px;
    width: 200px;
  }
  
  .media {
    position: absolute;
    left: 86.5%;
    bottom: 117px;
    width: 110px;
  }
  
  li {
    line-height: 21.06px;
  }
}

@media (max-width: 1124px) {
  
  main spline-viewer {
    height: 727.3px;
  }
  
  main {
    height: 650px;;
  }
  
  p {
    font-size: 12px;
    line-height: 13.5px;
    width: 396px;
    height: 28px;
  }
  
  .text {
    position: absolute;
    left: 32px;
    top: 547px;
  }
  
  .text h1 {
    font-size: 36px;
    line-height: 40.5px;
    height: 41px;
    width: 229px;
  }
  
  .first {
    height: 200px;
  }
  
  
  .first .button {
    width: 120px;
    height: 120px;
  }
  
  .first .button::after {
    border: 10px solid transparent;
    border-bottom-color:#930909;
  }
  
  .second {
    height: 1024px;
  }
  
  .second h3 {
    border: 10px solid #202120;
    font-size: 16px;
  }
  
  .button p {
    font-size: 12px;
    line-height: 13.5px;
  }
  
  .button .number {
    position: absolute;
    top: 34px;
    left: 34px;
    width: 19px;
    height: 14px;
  }
  
  
  .dot {
    width: 4.27px;
    height: 4.27px;
    top: 473.6px;
  }
  
  .button .describe {
    left: 60%;
    top: 469.22px;
  }
  
  .second .button:hover h3 {
    border: 15px solid #191919;
  }

  .second .button:active h3 {
    border: 15px solid #0F0F0F;
  }
  
  
  .third {
    height: 411px;
  }
  
  .third spline-viewer{
    width: 255px;
    height: 1000px;
    margin-top: -270px;
  }
  
  button {
    background-color: #202120;
    border: 0;
    height: 411px;
    width: 255px;
  }
  
  .sign {
    top: 370px;
  }
  
  .sign img {
    margin-top: -20px;
    scale: 50%;
  }
  
  footer {
    height: 475px;
  }

  footer::after {
    content: "";
    position: absolute;
    height: 0.5px;
    background: rgba(255, 255, 255,0.25);
    top: 0;
    left: 3.1%;
    right: 3.1%;
  }

  .line {
    bottom: 277px;
  }
  
  .icon {
    height: 78px;
    bottom: 355px;
    left: 3.1%;
  }
  
  .information {
    left: 3.1%;
    bottom: 131px;
    width: 300px;
  }
  
  .menu {
    position: absolute;
    width: 100%;
    padding-right: 0;
    left: -7%;
    top: 42px;
    text-align: right;
    margin-right:0;
  }
  
  .media {
    width: 70px;
    right: 3.1%;
    bottom: 131px;
    text-align: right;
    margin-right:0;
  }
}

@media (max-width: 800px) {
    main {
      height: 814px;
      background-color: #202120;
    }

    main spline-viewer {
      height: 600px;
     }

    main .text {
      display: flex;
      flex-direction: column-reverse;
      position: absolute;
      margin-top: 25px;
      width: 91.4%;
      height: 56px;
      left: 16px;
      right: auto;
      top: 625px;
      z-index: 1;
    }

    .text h1 {
        position: relative;
        left: auto;
        right: auto;
        font-size: 50px;
        line-height: 56.35px;
        width: 91.4%;
        height: 56px;
        text-align: right;
        align-self: center;
    }

    .text p {
      position: relative;
        margin-top: 10px;
        font-size: 12px;
        font-weight: 400;
        line-height: 13.5px;
        width: 91.4%;
        height: 28px;
        text-align: right;
        align-self: right;
    }

    .first {
        height: 200px;
    }

    .first .button {
        width: 120px;
        height: 120px;
    }

    .second {
        height: 1500px;
    }

    .second .button {
        width: 100%;
        height: 25%;
    }

  .second .pr {
    top: 0;
    left: 0;
  }

  .second .smm {
    top: 75%;
    left: 0;
  }

    .second .web {
        top: 50%;
        left: 0;
    }

    .second .prod {
        top: 25%;
        left: 0;
    }

    .second .button h3 {
        font-size: 16px;
        line-height: 22.5px;
        text-align: center;
        border: 15px solid #202120;
    }
    .web h3 {
      width: 238px;
    }
    .second .button .number {
        font-size: 12px;
        line-height: 13.5px;
    }
    .second .button .dot {
        top: 341.4px;
        width: 3.13px;
        height: 3.13px;
    }
    .second .button .describe {
        top: 335.4px;
        left: 48.8%;
        font-size: 12px;
        line-height: 13.5px;
    }

    .third spline-viewer {
        height: 738px;
        margin-top: -90px;
        scale: 65%;
    }

    footer {
      height: 521px;
    }
    .information {
      left: 4.3%;
      width: 343px;
      bottom: 112px;
    }
    .information li {
      line-height: 21px;
    }
    .icon {
      top: 34px;
      width: 150px;
      height: 61.87px;
    }
    .icon img{
      top: 34px;
      width: 150px;
      height: 61.87px;
    }

    .media {
      right: 4.3%;
      left: auto;
      top: 34px;
      bottom: auto;
      width: 118px;
      height: 83px;
      font-size: 18px;
      padding-right: 0;
    }
    .menu {
      top: 185px;
      left: 0;
      bottom: auto;
      height: 52px;
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    footer p {
      width: 317px;
    }

    footer::after {
      content: "";
      position: absolute;
      height: 0.5px;
      background: rgba(255, 255, 255,0.25);
      top: 0;
      left: 4.3%;
      right: 4.3%;
    }

    footer::before {
      content: "";
      position: absolute;
      height: 0.5px;
      background: rgba(255, 255, 255,0.25);
      top: 151px;
      left: 4.3%;
      right: 4.3%;
    }

    .right {
      position: absolute;
      margin-top: -40px;
      right: 4.3%;
    }

    .left {
      position: absolute;
      left: 4.3%;
    }

    li {
      font-size: 18px;
      margin-bottom: 20px;
      line-height: 11.25px;
    }

    .media li, .information li {
      margin-bottom: 10px;
    }

    .line {
      bottom: 250px;
    }

}


